.em-contribution-init {
    /* initially set the contribution height pretty high to not lazy-load too many of them. */
    height: 50vh;
}

.em-contribution {
    @apply border-4 border-solid border-em-lighter bg-em-lighter;
    max-width: 60em;
}
.em-contribution > * { @apply p-4; }
.em-contribution-case       { @apply border-em-case; }
.em-contribution-analysis   { @apply border-em-analysis; }
.em-contribution-strategy   { @apply border-em-strategy; }
.em-contribution-action     { @apply border-em-action; }
.em-contribution-evaluation { @apply border-em-evaluation; }


.em-contribution--mode_normal {

    &.em-contribution {
        @apply border-l-16;
    }

    &.em-workspace-root {
        @apply border-l-0 border-r-0;
        width: 100%;
        max-width: 100%;

        .em-contribution-header { @apply text-em-lighter; }
        &.em-contribution-case .em-contribution-header { @apply bg-em-case; }
        &.em-contribution-analysis .em-contribution-header { @apply bg-em-analysis; }
        &.em-contribution-strategy .em-contribution-header { @apply bg-em-strategy; }
        &.em-contribution-action .em-contribution-header { @apply bg-em-action; }
        &.em-contribution-evaluation .em-contribution-header { @apply bg-em-evaluation; }
    }

    .em-contribution-footer { @apply border-t border-solid border-em-light; }
    &.em-contribution-case .em-contribution-footer { @apply border-em-case; }
    &.em-contribution-analysis .em-contribution-footer { @apply border-em-analysis; }
    &.em-contribution-strategy .em-contribution-footer { @apply border-em-strategy; }
    &.em-contribution-action .em-contribution-footer { @apply border-em-action; }
    &.em-contribution-evaluation .em-contribution-footer { @apply border-em-evaluation; }
}

.em-contribution--mode_small {
    height: 8em;
    min-width: 25em;
    max-width: 40em;
    @apply m-4;
}
.em-contribution--mode_smaller {
    width: 8em;
    height: 8em;
    @apply m-4;

    overflow: hidden;

    &:first-child, &:last-child {
    }
}

.em-contribution-footer > *:not(:last-child) {
    margin-bottom: 0.5em;
}
.em-contribution-footer > * > *:not(:last-child),
.em-contribution-footer > * > * > *:not(:last-child) {
    margin-right: 0.5em;
}
.em-contribution-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.em-contribution-meta-users {
    display: flex;
    justify-content: left;
    align-items: center;
}
.em-contribution-meta-info {
    display: flex;
    justify-content: right;
    align-items: center;
}
.em-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.em-actions-context {
    display: flex;
    justify-content: left;
    align-items: center;
}
.em-actions-contents {
    display: flex;
    justify-content: right;
    align-items: center;
}

.em-contribution-meta-users-coordinators {}
.em-contribution-meta-users-expert_pool {}
.em-contribution-meta-users-experts_assigned {}
.em-contribution-meta-info-workspace {}
.em-contribution-meta-info-url {}
.em-button-edit {}
.em-button-delete {}
.em-button-add-answer {}
.em-button-add-workspace {}


/* end */
